body {
    background-color: black;
    color: white;
}

canvas {
    border: 1px solid black;
  }
  .invisible {
    display: none;
  }
  .text-center {
    text-align: center;
  }
  div {
    margin: 10px;
  }
  .center-block {
    display: block;
    margin: auto;
  }
  label {
    padding-right: 10px;
    width: 25%;
    vertical-align: top;
    font: 16px 'Lucida Grande', sans-serif;
  }

  /* Up and down button style see following:
  https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_next_prev */
  a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }

  a:hover {
    background-color: #05d186;
    color: black;
  }
  .previous {
    background-color: white;
    color: black;
  }
  
  .next {
    background-color: #04AA6D;
    color: white;
  }
  
  .round {
    transform: rotate(90deg);
    border-radius: 50%;
  }